.DS_Store
**/.vscode/**
.venv
.env
.env.*
uv_secrets.txt
dist/
.devenv*
devenv.local.nix
.direnv/
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.dmypy.json
.mypy_cache
*.egg-info
*.so
target/
*/*/__pycache__/
# direnv
.direnv
